/* start personal theme */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: arial, tahoma, sans-serif;
    height: 2312px;
}

.text-align{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.hr{
    margin: 20px 90px 20px 90px;
}

.h1{
    font-size: 2em;
}

::selection{
    background-color: orangered;
    color: #fff;
}

:root{
    --border-raduis: 10px;
}

/* end personal theme */

/* start header */
header{
    position: relative;
    background-image: url(../Images/header.jpeg);
    background-size: cover;
    min-height: 500px;
}

header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

header .overlay .container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
     "logo logo logo logo logo logo nav nav nav nav"         /*header*/
     "content content content content content content content content content content";
    align-items: center;
}

header .overlay .container .logo{
    grid-area: logo;
}

header .overlay .container nav{
    grid-area: nav;
}

header .overlay .container .logo, nav{
    margin-top: 10px;
}

header .overlay .container .logo h1{
    color: #fff;
    font-size: 24px;
}

header .overlay .container .logo h1 span{
    color: orangered;
}

header .overlay .container nav ul{
    color: #fff;
    list-style: none;
}

header .overlay .container nav ul li{
    display: inline-block;
    cursor: pointer;
}

header .overlay .container nav ul li:hover{
    color: orangered;
}

header .overlay .container nav ul li:not(:last-of-type){
    margin-right: 15px;
}

header .overlay .container .content{
    grid-area: content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .overlay .container .content .h1{
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 1px 1px black;
}

header .overlay .container .content .h1 span{
    color: orangered;
}

header .overlay .container .content p{
    color: #fff;
    font-size: 16px;
    margin: 22px 0px;
    line-height: 1.5;
}

header .overlay .container .content button{
    background: none;
    border-radius: var(--border-raduis);
    color: #fff;
    padding: 5px 47px;
    font-size: 16px;
    margin: 1%;
    cursor: pointer;
}

header .overlay .container .content button:hover{
    background-color: orangered;
}

/* start media for header */
@media (max-width: 767px) {                                  /* mobile and tablet screen rules */
    header .overlay .container{
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas:
            "logo logo logo logo logo logo logo logo logo logo"
            "nav nav nav nav nav nav nav nav nav nav"; 
    }

    header .overlay .container .logo h1{
        text-align: center;
    }

    header .overlay .container nav ul{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header .overlay .container{
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas:
            "logo logo logo logo logo logo nav nav nav nav"; 
    }
}
/* end media for header */
/* end header */


/* start section our-services */
.our-services{
    margin: 20px 0px;
}

.our-services .container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: ". box1 box1 box2 box2 box3 box3 box4 box4";
    column-gap: 15px;
}

.our-services .container .box.one{
    grid-area: box1;
}

.our-services .container .box.two{
    grid-area: box2;
}

.our-services .container .box.three{
    grid-area: box3;
}

.our-services .container .box.four{
    grid-area: box4;
}

.our-services .container .box i{
    color: orangered;
    border: 1px solid #0404044f;
    padding: 32px;
    border-radius: 50%;
    font-size: 25px;
}

.our-services .container .box h3{
    margin: 10px 0px;
    font-size: 18px;
}

.our-services .container .box p{
    color: gray;
    font-size: 14px;
}

/* start media for section our-services */
@media (max-width: 767px) {                                          /* mobile and tablet screen rules */
    .our-services .container{
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas: 
            "box1 box1 box1 box1 box1 box1 box1 box1 box1 box1"
            "box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
            "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
            "box4 box4 box4 box4 box4 box4 box4 box4 box4 box4";
    }

    .our-services .container .box:not(:last-of-type){
        margin-bottom: 20px;
    }

    .our-services .container .box i{
        
        border: 1px solid #0404044f;
        padding: 22px;
        border-radius: 50%;
        font-size: 20px;
    }

    .our-services .container .box h3{
        font-size: 16px;
    }

    .our-services .container .box p{
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {                    /* small screen rules */
    .our-services .container{
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas: 
            "box1 box1 box1 box1 box1 box2 box2 box2 box2 box2"
            "box3 box3 box3 box3 box3 box4 box4 box4 box4 box4";
    }
}
/* end media for section our-services */
/* end section our-services */

/* start section searching */
.searching{
    margin: 30px 0px;
    background-image: url(../Images/searching.jpg);
    background-size: cover;
    min-height: 180px;
    position: relative;
    box-shadow: 6px 6px 6px 2px black;
}

.searching .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
}

.searching .overlay .container .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searching .overlay .container .content input{
    border: none;
    padding: 5px 5px;
    width: 400px;
    border-radius: var(--border-raduis);
    outline: none;
}

.searching .overlay .container .content button{
    background: none;
    border-radius: var(--border-raduis);
    color: #fff;
    padding: 3px 47px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #fff;
}

/* start media for section searching */
@media (max-width: 767px) {                                     /* mobile and tablet screen rules */
    .searching .overlay .container .content input{
        width: 170px;
    }

    .searching .overlay .container .content button{
        padding: 3px 10px;
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {              /* small screen rules */
    .searching .overlay .container .content input{
        width: 260px;
    }

    .searching .overlay .container .content button{
        padding: 3px 40px;
        font-size: 13px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {              /* meduim screen rules */
    .searching .overlay .container .content input{
        width: 360px;
    }

    .searching .overlay .container .content button{
        padding: 4px 45px;
        font-size: 13px;
    }
}
/* end media for section searching */
/* end section searching */

/* start section our-works */
.our-works{
    margin: 30px 0px;
}

.our-works .h1 span{
    color: orangered;
}

.our-works p{
    margin: 13px 0px;
}

.our-works .container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: ". . box1 box1 box2 box2 box3 box3";
    column-gap: 12px;
}

.our-works .container .box img{
    width: 100%;
    border-radius: var(--border-raduis);
}

.our-works .container .box.one h5{
    position: absolute;
    color: #fff;
    top: 34px;
    left: 28%;
}

.our-works .container .box.one p{
    position: absolute;
    color: #fff;
    top: 43px;
    left: 12%;
    font-size: 15px;
}

.our-works .container .box.one button{
    position: absolute;
    top: 85px;
    left: 30%;
    padding: 5px;
    border-radius: var(--border-raduis);
    background-color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.our-works .container .box.one:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255 118 0 / 82%);
    top: -4px;
    left: 0;
    border-radius: 10px;
}

.our-works .container .box.one{
    grid-area: box1;
    position: relative;
}

.our-works .container .box.two{
    grid-area: box2;
}

.our-works .container .box.three{
    grid-area: box3;
}
/* start media for section our-works */
@media (max-width: 767px) {                                     /* mobile and tablet screens rules */
    .our-works .h1{
        font-size: 24px;
    }

    .our-works p{
        font-size: 12px;
    }
    
    .our-works .container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas:
            "box1 box1 box1 box1 box1 box2 box2 box2 box2 box2"
            "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3";
        column-gap: 12px;
    }

    .our-works .container .box.one h5{
        top: 34px;
        left: 26%;
    }
    
    .our-works .container .box.one p{
        top: 43px;
        left: 7%;
        font-size: 15px;
    }
    
    .our-works .container .box.one button{
        top: 85px;
        left: 27%;
        padding: 5px;
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {                     /* small screen rules */
    .our-works .container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas:
            "box1 box1 box1 box1 box1 box2 box2 box2 box2 box2"
            "box3 box3 box3 box3 box3 box3 box3 box3 box3 box3";
        column-gap: 12px;
    }

    .our-works .container .box.one h5{
        top: 48px;
        left: 24%;
        font-size: 23px;
    }
    
    .our-works .container .box.one p{
        top: 67px;
        left: 16%;
        font-size: 18px;
    }
    
    .our-works .container .box.one button{
        top: 117px;
        left: 34%;
        padding: 5px;
        font-size: 17px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {                   /* meduim screen rules */
    .our-works .container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas:
            "box1 box1 box1 box2 box2 box2 box3 box3 box3";
        column-gap: 12px;
    }
}
/* end media for section our-works */
/* end section our-works */

/* start section workers */
.workers{
    position: relative;
    background-image: url(../Images/programmer.jpg);
    background-size: cover;
    min-height: 260px;
    box-shadow: 6px 6px 6px 2px black;
}

.workers .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 5 27 / 50%);
}

.workers .container .content{
    width: 50%;
    margin-left: 25%;
    margin-top: 18px;
}

.workers .container .content img{
    width: 22%;
    border-radius: 50%;
    cursor: pointer;
}

.workers .container .content p{
    color: #fff;
    margin: 20px 0px;
}

.workers .container .content h3{
    color: #fff;
    font-size: 15px;
}

.workers .container .content h4{
    color: #fff;
    font-size: 30px;
}

/* start media for section workers */
@media (max-width: 767px) {                                        /* mobile and tablet rules */
    .workers .container .content img{
        width: 50%;
    }

    .workers .container .content p{
        font-size: 12px;
        margin: 18px 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {                 /* small screen rules */
    .workers .container .content img{
        width: 40%;
    }

    .workers .container .content p{
        font-size: 15px;
        margin: 18px 0px;
    }
}
/* end media for section workers */
/* end section workers */

/* start section team */
.team{
    margin: 30px 0px;
}

.team .h1 span{
    color: orangered
}

.team p{
    margin: 13px 0px;
}

.team .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
}

.team .container .box{
    text-align: center;
}

.team .container .box img{
    width: 100%;
    filter: grayscale(100%);
    cursor: pointer;
    border-radius: 5px;
}

.team .container .box img:hover{
    filter: grayscale(0%);
    border-bottom: 2px solid orangered;
}

.team .container .box h3{
    margin: 7px 0px;
    font-size: 18px;
}

.team .container .box i[class="fab fa-facebook-f"]{
    color: #fff;
    background-color: blue;
    padding: 5px 8px;
    border-radius: 50%;
}

.team .container .box i[class="fab fa-twitter"]{
    color: #fff;
    background-color: cyan;
    padding: 5px 6px;
    border-radius: 50%;
}

.team .container .box i[class="fab fa-google-plus-g"]{
    color: #fff;
    background-color: red;
    padding: 5px 4px;
    border-radius: 50%;
}

/* start media for section team */
@media (max-width: 767px) {                                     /* mobile and tablet rules */
    .team .h1{
        font-size: 22px;
    }

    .team p{
        font-size: 13px;
    }

    .team .container{
        grid-template-columns: repeat(1, 55%);
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {              /* small screen rules */
    .team .h1{
        font-size: 25px;
    }

    .team p{
        font-size: 14px;
    }

    .team .container{
        grid-template-columns: repeat(2, 30%);
        justify-content: center;
    }
} 

@media (min-width: 992px) and (max-width: 1199px) {             /* meduim screen rules */
    .team .h1{
        font-size: 25px;
    }

    .team p{
        font-size: 14px;
    }

    .team .container{
        grid-template-columns: repeat(2, 40%);
        justify-content: center;
    }
}
/* end media for section team */
/* end section team */

/* start footer */
footer{
    background-image: url(../Images/\/servers.jpg);
    background-size: cover;
    min-height: 366px;
    position: relative;
}

footer .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 6px 6px 6px 2px black;
}

footer .overlay .h1{
    color: #fff;
    margin: 10px 0px;
}

footer .overlay .h1 span{
    color: orangered;
}

footer .overlay p{
    color:#fff;
    line-height: 1.5;
}

footer .overlay .container form input{
    border-radius: 5px;
    border: none;
    padding: 6px 5px;
    margin: 10px 0px;
    width: 24.6%;
    outline: none;
    text-align: center;
}

footer .overlay .container form textarea {
    display: block;
    margin-left: 25%;
    width: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
}

footer .overlay .container input[class="last"]{
    border-radius: 5px;
    padding: 6px 5px;
    margin: 10px 0px;
    width: 12.6%;
    outline: none;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}
/* end footer */

























